div {
    border: 2px solid red;
}

body {
    font-family: pt sans;
    margin: 20px;
}

header {
    text-align: center;
    margin: 100px;
}

.title {
    height: 250px;
}

.welcome {
    height: 150px;
}

.home-img {
    height: 250px;
}

.gallery {
    float: left;
    height: 400px;
    width: 23%;
    margin: 3px 7px;
    padding: 3px;
}

.footer {
   display: inline-block;
   height: 50px;
   width: 100%;
   text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 10px;
    font-size: 1.2rem;
    line-height: 15px;
    margin: 0;
    padding: 10px;
}

nav a:hover {
    display: block;
    color: red;
}
