#heading {
    text-align: center;
}

#menu {
    list-style-type: none;
}

#menu li {
    float: left;
    margin-left: 10px;
}

#gallery {
    height: 600px;
}

#paintings {
    background-color: blue;
    width: 33%;
    float: left;
}

#drawings {
    background-color: rgb(11, 101, 25);
    width: 33%;
    margin: 0 auto;
}

#tattoo {
    background-color: crimson;
    width: 33%;
    float: right;
}
