@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Proza+Libre:ital@1&display=swap');

body {
    font-family: kumbh sans, sans-serif;
    color: #0a0a0a;
}

h2 {
    font-size: 170%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: underline;
    margin-left: 50px;

}

/* Hero Image */

#hero-image {
    border: 4px solid black;
    border-radius: 5px 5px 0 0;
}

#hero-image img {
    padding: 20px;
    margin-left: 10px;
    width: 95%;
    height: 310px;
    animation-name: cover-photo;
    animation-duration: 2.4s;
    animation-fill-mode: forwards;
}

/* Hero Image Animation */

@keyframes cover-photo {
    from {
        opacity: 0;
        transform: scale(0.97);

    }

    to {
        opacity: 100;
        transform: scale(1);
    }
}

/* Navigation Bar */

#menu {
    text-align: center;
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 8px;
    line-height: 35px;
    height: 40px;
    border-radius: 0 0 5px 5px;
}

#menu li {
    display: inline;
}

li a {
    color: #fff;
    margin: 0 80px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 125%;
    animation-name: menu;
    animation-duration: 2.4s;
}

/* Navigation Animation */

@keyframes menu {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

#menu a:hover {
    border-bottom: 1px solid #fff;

}

.active {
    border-bottom: 1px solid #fff;
}

/* About Section (index.html) */

#about {
    height: 220px;
    margin-bottom: 10px;
}

p {
    font-size: 120%;
    word-spacing: 3px;
    margin: 0 50px;
    background-color: #0a0a0a15;
    padding: 20px;
    border-radius: 5px;
}

#about a {
    text-decoration: none;
    color: dodgerblue;
}

/* Gallery Section (index.html) */

#gallery {
    height: 625px;
    padding: 10px 0;
}

#gallery h2 {
    margin-top: 20px;
}



#gallery-container {
    text-align: center;
}

.gallery-display {
    display: inline-block;
    margin: 0px 5px;
    width: 30%;
    background-color: rgb(74, 74, 74);
    padding-top: 0px;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    margin: 240px 0;
    padding: 20px;
    font-size: 140%;
    letter-spacing: 4px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

h3:hover {
    color: rgb(252, 240, 8);
}

#box-1,
#box-3 {
    filter: grayscale(40%);
}

#box-2 {
    filter: brightness(90%);
}

#box-1:hover,
#box-3:hover {
    filter: none;
}

#box-2:hover {
    filter: brightness(100%);
}

/* Gallery Section Shadow Animation (index.html) */

@keyframes box {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: 0 5px 10px 5px black;
    }
}

.gallery-display:hover {
    animation-name: box;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

#box-1 {
    background-image: url(/assets/images/ghost-cropped.jpg);
}

#box-2 {
    background-image: url(/assets/images/dredd-cropped.jpg);
}

#box-3 {
    background-image: url(/assets/images/tattoo-flash2-cropped.jpg);
}

/* Logo Section */

#logo {
    text-align: center;
    width: 50%;
    height: 140px;
    margin: auto;
    transform: scale(0.2);
}

/* Footer Section */

footer {
    margin-top: 50px;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline;
}

.social-links {
    text-align: center;
}

.social-links i {
    font-size: 150%;
    color: black;
    margin-right: 5%;
    padding: 10px;
}

#copyright {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    background-color: #0a0a0a;
    border-radius: 4px;
    padding: 2px 0;
}

/* paintings, drawings and flash.hmtl Gallery Style */

.gallery-layout {
    margin: 0 50px;
    margin-top: 20px;
    line-height: 25px;
    column-count: 3;
    column-gap: 5px;
}

.gallery-layout>img {
    width: 100%;
}

#kobe-chester {
    margin-bottom: 20px;
    text-align: center;
    padding: 0;

}

#kobe-chester>img {
    width: 60%;
}

#drawings,
#flash-designs {
    margin-bottom: 20px;
}

#skull {
    margin-top: 80px;
}

/* Page Links Section */

#page-links {
    width: 50%;
    margin: auto;
    text-align: center;
}

#page-links a {
    text-decoration: none;
    color: dodgerblue;
}

#about a:hover,
#page-links a:hover {
    text-decoration: underline;
}

/* Contact, Form Section */

#contact-list {
    margin-left: 50px;
    font-size: 120%;
}

form {
    width: 50%;
    margin: auto;
    text-align: center;
}

#form {
    padding: 20px;
    margin: 0 50px;
    background-image: url(/assets/images/skull-print-opacity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.input-text {
    margin: 10px;
    padding: 5px 10px;
    height: 40px;
    width: 50%;
    font-family: kumbh sans, sans-serif;
    font-size: 110%;
    border-radius: 5px;
}

#submit {
    color: #fff;
    background-color: #0a0a0a;
    border-radius: 5px;
    width: 33%;
    height: 40px;
}

#submit:hover {
    color: black;
    background-color: #fff;
}
